@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #FF8C00;
    --text-color: #FFFFFF;
    --button-bg: #111827;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.button {
    background-color: var(--button-bg);
    color: var(--text-color);
}
